---
http_interactions:
- request:
    method: get
    uri: http://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@jetthoughts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a4c4b83e13fa8d89e497315a6216bdf6aa8b9443"
      Last-Modified:
      - Mon, 13 Apr 2020 12:59:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","feed":{"url":"https://medium.com/feed/@jetthoughts","title":"Stories
        by JetThoughts on Medium","link":"https://medium.com/@jetthoughts?source=rss-c55e7783810f------2","author":"","description":"Stories
        by JetThoughts on Medium","image":"https://cdn-images-1.medium.com/fit/c/150/150/2*85Ey3MdzACMaMxTEiPf-Bg.jpeg"},"items":[{"title":"Things
        that remote teams expect from the product owner","pubDate":"2020-04-07 20:27:53","link":"https://jtway.co/things-that-remote-teams-expect-from-the-product-owner-f253e429ba66?source=rss-c55e7783810f------2","guid":"https://medium.com/p/f253e429ba66","author":"JetThoughts","thumbnail":"https://cdn-images-1.medium.com/max/1000/0*2Yb3jr6lnlKQtoOJ","description":"<div
        class=\"medium-feed-item\">\n<p class=\"medium-feed-image\"><a href=\"https://jtway.co/things-that-remote-teams-expect-from-the-product-owner-f253e429ba66?source=rss-c55e7783810f------2\"><img
        src=\"https://cdn-images-1.medium.com/max/1000/0*2Yb3jr6lnlKQtoOJ\" width=\"1000\"></a></p>\n<p
        class=\"medium-feed-snippet\">What is product owner responsible for?</p>\n<p
        class=\"medium-feed-link\"><a href=\"https://jtway.co/things-that-remote-teams-expect-from-the-product-owner-f253e429ba66?source=rss-c55e7783810f------2\">Continue
        reading on JTWay \u00bb</a></p>\n</div>","content":"<div class=\"medium-feed-item\">\n<p
        class=\"medium-feed-image\"><a href=\"https://jtway.co/things-that-remote-teams-expect-from-the-product-owner-f253e429ba66?source=rss-c55e7783810f------2\"><img
        src=\"https://cdn-images-1.medium.com/max/1000/0*2Yb3jr6lnlKQtoOJ\" width=\"1000\"></a></p>\n<p
        class=\"medium-feed-snippet\">What is product owner responsible for?</p>\n<p
        class=\"medium-feed-link\"><a href=\"https://jtway.co/things-that-remote-teams-expect-from-the-product-owner-f253e429ba66?source=rss-c55e7783810f------2\">Continue
        reading on JTWay \u00bb</a></p>\n</div>","enclosure":{},"categories":["product-management","remote-working","startup","product-ownership","tips"]},{"title":"Collecting
        JavaScript code coverage with Capybara in Ruby on Rails application","pubDate":"2020-04-06
        06:23:32","link":"https://jtway.co/collecting-javascript-code-coverage-with-capybara-in-ruby-on-rails-application-d0cb83a86a90?source=rss-c55e7783810f------2","guid":"https://medium.com/p/d0cb83a86a90","author":"JetThoughts","thumbnail":"https://cdn-images-1.medium.com/max/659/1*KC_e_gImbYOacVnUJ4mWIA.png","description":"\n<blockquote>Having
        JavaScript code covered by Capybara system tests, can we utilize them for
        the code coverage collecting and get the aggregated result with the coverage
        from the unit\u00a0tests?</blockquote>\n<figure><img alt=\"\" src=\"https://cdn-images-1.medium.com/max/659/1*KC_e_gImbYOacVnUJ4mWIA.png\"></figure><p>We
        want to be sure that all code responsible for key user journey scenarios of
        our app is covered with\u00a0tests.</p>\n<p>For example, there is a Ruby on
        Rails application that uses <a href=\"https://github.com/rails/webpacker\">Webpacker</a>
        and has JavaScript files that are covered by the system tests. <a href=\"https://github.com/teamcapybara/capybara\">Capybara</a>
        is used as the system testing\u00a0tool.</p>\n<blockquote>How to get code
        coverage combining the results of system and unit\u00a0tests?</blockquote>\n<h4>Inject
        getting coverage for JavaScript code</h4>\n<p>For getting coverage of the
        JavaScript code, we use <a href=\"https://github.com/webpack-contrib/istanbul-instrumenter-loader\">Istanbul
        Instrumenter Loader</a>. It needs to be added as a dev dependency with the
        package manager (<a href=\"https://github.com/webpack-contrib/istanbul-instrumenter-loader#install\">Link
        to installation</a>).</p>\n<p>This instrumenter is already outdated, but <a
        href=\"https://jestjs.io/\">Jest</a> is still using it to get coverage, and
        we have not found any alternatives to work with Webpack directly.</p>\n<p>The
        Istanbul Instrumenter Loader will be run on the Webpack compilation stage
        for the <em>test</em> environment. So we placed it in the <em>webpack</em>\u00a0folder.</p>\n<a
        href=\"https://medium.com/media/7d5a4dd75250a2595a7a469a86915293/href\">https://medium.com/media/7d5a4dd75250a2595a7a469a86915293/href</a><h4>Getting
        coverage after testing in the\u00a0browser</h4>\n<p>After running the system
        test, the browser stores the coverage value in the global variable <em>_coverage_</em><strong><em>.
        </em></strong>We need to extract from the page and save\u00a0it.</p>\n<a href=\"https://medium.com/media/f80bf6e4f0cad89401e3d9aaa0494b3a/href\">https://medium.com/media/f80bf6e4f0cad89401e3d9aaa0494b3a/href</a><p>This
        helper will store the coverage value from the <strong><em>_coverage_</em></strong>
        variable into the JSON file. We need to call it after each system\u00a0test.</p>\n<h4>Aggregate
        the coverage\u00a0values</h4>\n<p>For collecting the coverage results we will
        use <a href=\"https://github.com/codecov/codecov-ruby\">Codecov</a>. It has
        several arguments in his\u00a0favor:</p>\n<ul>\n<li>aggregate the coverage
        results for different code parts (e.g. Ruby and JavaScript) in one\u00a0place.</li>\n<li>manage
        the reports from the Istanbul Instrumenter Loader</li>\n<li>allow merging
        the coverage reports from several\u00a0sources</li>\n</ul>\n<p>Here is the
        example of a script that prepares the compilation with the Istanbul Instrumenter,
        runs the system tests, aggregates the code coverage results and sends the
        report to\u00a0Codecov:</p>\n<a href=\"https://medium.com/media/7e002600771a238a710db20467daa60e/href\">https://medium.com/media/7e002600771a238a710db20467daa60e/href</a><p>After
        system tests\u00a0running,</p>\n<pre>bin/rails test:system</pre>\n<p>we\u2019ll
        have a bunch of generated JSON files in the <em>e2e_coverage</em> folder containing
        coverage reports for the JavaScript code. Each file corresponds to one\u00a0test.</p>\n<p>At
        the next stage, they are merged into one JSON file. For this purpose, we use
        <a href=\"https://github.com/istanbuljs/nyc\">nyc</a> (Istanbul\u2019s command
        line interface).</p>\n<p>This is a more advanced tool for collecting coverage,
     [...]
